<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shortcut</key>
		<string>かっぷ</string>
		<key>phrase</key>
		<string>∪</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>きゃっぷ</string>
		<key>phrase</key>
		<string>∩</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>くうしゅうごう</string>
		<key>phrase</key>
		<string>∅</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぞくす</string>
		<key>phrase</key>
		<string>∈</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぞくさない</string>
		<key>phrase</key>
		<string>∉</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ふくむ</string>
		<key>phrase</key>
		<string>∋</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ふくまない</string>
		<key>phrase</key>
		<string>∌</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>たーんいー</string>
		<key>phrase</key>
		<string>∃</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>たーんえー</string>
		<key>phrase</key>
		<string>∀</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ちょくわ</string>
		<key>phrase</key>
		<string>⊕</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ちょくせき</string>
		<key>phrase</key>
		<string>⊗</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぷらすまいなす</string>
		<key>phrase</key>
		<string>±</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぷらす</string>
		<key>phrase</key>
		<string>＋</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>まいなす</string>
		<key>phrase</key>
		<string>－</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>かける</string>
		<key>phrase</key>
		<string>×</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>わる</string>
		<key>phrase</key>
		<string>÷</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>いこーる</string>
		<key>phrase</key>
		<string>＝</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>のっといこーる</string>
		<key>phrase</key>
		<string>≠</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>にありーいこーる</string>
		<key>phrase</key>
		<string>≒</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ごうどう</string>
		<key>phrase</key>
		<string>≡</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>きんじ</string>
		<key>phrase</key>
		<string>≈</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>きんじいこーる</string>
		<key>phrase</key>
		<string>≅</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ならば</string>
		<key>phrase</key>
		<string>⇒</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>どうち</string>
		<key>phrase</key>
		<string>⇔</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>だいなり</string>
		<key>phrase</key>
		<string>＞</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>だいなりいこーる</string>
		<key>phrase</key>
		<string>≧</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>だいなりだいなり</string>
		<key>phrase</key>
		<string>≫</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しょうなり</string>
		<key>phrase</key>
		<string>＜</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しょうなりしょうなり</string>
		<key>phrase</key>
		<string>≪</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しょうなりいこーる</string>
		<key>phrase</key>
		<string>≦</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>むげんだい</string>
		<key>phrase</key>
		<string>∞</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ゆえに</string>
		<key>phrase</key>
		<string>∴</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>なぜならば</string>
		<key>phrase</key>
		<string>∵</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ふぁい</string>
		<key>phrase</key>
		<string>φ</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>あれふ</string>
		<key>phrase</key>
		<string>ℵ</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>なぶら</string>
		<key>phrase</key>
		<string>∇</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>でるた</string>
		<key>phrase</key>
		<string>Δ</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>でるた</string>
		<key>phrase</key>
		<string>δ</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>でる</string>
		<key>phrase</key>
		<string>∂</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しぐま</string>
		<key>phrase</key>
		<string>Σ</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>しぐま</string>
		<key>phrase</key>
		<string>σ</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぱい</string>
		<key>phrase</key>
		<string>Π</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ぱい</string>
		<key>phrase</key>
		<string>π</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>いんてぐらる</string>
		<key>phrase</key>
		<string>∫</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>るーと</string>
		<key>phrase</key>
		<string>√</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>そうじ</string>
		<key>phrase</key>
		<string>∽</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ひれい</string>
		<key>phrase</key>
		<string>∝</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>こ</string>
		<key>phrase</key>
		<string>⌒</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>へいこう</string>
		<key>phrase</key>
		<string>∥</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>へいこう</string>
		<key>phrase</key>
		<string>||</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>ちょっかく</string>
		<key>phrase</key>
		<string>∟</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>すいちょく</string>
		<key>phrase</key>
		<string>⊥</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>おす</string>
		<key>phrase</key>
		<string>♂</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>めす</string>
		<key>phrase</key>
		<string>♀</string>
	</dict>
	<dict>
		<key>shortcut</key>
		<string>こまんど</string>
		<key>phrase</key>
		<string>⌘</string>
	</dict>
</array>
</plist>